@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .star-field {
    background-image: radial-gradient(
        circle at 50% 50%,
        transparent 0,
        transparent 38%,
        theme('colors.gold') 38.6%,
        transparent 39.2%
      ),
      radial-gradient(circle at 0% 0%, transparent 0, transparent 38%, theme('colors.gold') 38.6%, transparent 39.2%),
      radial-gradient(circle at 100% 0%, transparent 0, transparent 38%, theme('colors.gold') 38.6%, transparent 39.2%),
      radial-gradient(circle at 0% 100%, transparent 0, transparent 38%, theme('colors.gold') 38.6%, transparent 39.2%),
      radial-gradient(circle at 100% 100%, transparent 0, transparent 38%, theme('colors.gold') 38.6%, transparent 39.2%);
    background-size: 120px 120px;
  }
}

html {
  scroll-behavior: smooth;
}
